* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #190e0e;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* TITULOS H3 */
h3 {
  margin: 5px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px; /* tamaño normal en PC */
  font-weight: bold;
  padding: 20px;
  background: linear-gradient(135deg, #ff0000, #f06666);
  color: white;
}

/* LOGO */
.logo {
  width: 50px;
}

/* NOMBRE */
.nombre {
  color: black;
  font-size: 18px;
}

/* BOTÓN MENÚ */
.menu-icon {
  font-size: 28px;
  cursor: pointer;
}

/* MENÚ */
#menu {
  display: none;
  background: white;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  text-align: center;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#menu.activo {
  display: block;
}

/* CONTENIDO */
main {
  margin-top: 80px;
}

section {
  padding: 10px;
}

/* IMÁGENES */
.img-menu {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

/* TEXTO */
h2 {
  color: white;
  text-align: center;
}

p {
  color: gray;
  text-align: center;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* 📱 MODO TELÉFONO */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.activo {
    display: block;
  }

  /* MENÚ VERTICAL */
  #menu ul {
    display: flex;
    flex-direction: column;
  }

  /* H3 MÁS PEQUEÑOS */
  h3 {
    font-size: 20px;
    padding: 10px;
  }
}

/* 💻 MODO PC */
@media (min-width: 768px) {

  .menu-icon {
    display: none;
  }

  #menu {
    display: block !important;
  }

  #menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #menu li {
    padding: 10px 15px;
  }
}
